*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit}
/* zero style */

.body {
    min-height: 100vh;
}

.size-page{
    box-shadow: 0 0  4px 5px greenyellow;
    border-radius: 10%;
    margin: 50px 150px 50px 150px;
    padding: 50px;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(120, 122, 104) 0%,rgb(165, 212, 111) 30%,rgb(55, 119, 108) 70%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header  {
    background: linear-gradient(135deg, rgb(10, 165, 226) 0%,rgba(88, 221, 148, 0.26) 100%);
    border-radius: 50%;
    
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
}

.nav-list  {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    font-size: 20px;
    color: black;
    box-shadow: 2px 1px 3px rgb(47, 47, 211);
}

.main

.section-profile{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
} 

.my-profile 

.my-foto {
    max-width: 200px ;
    max-height: 200px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    
}
.profile-container{
    margin-left: 30px;
}
.my-profile-content{
    font-weight: 300;
    font-size: 16px;
    margin-top: 5px;
    color: rgba(168, 36, 36, 0.849);
    background-color:aqua;
}
.my-profile-title{
    font-family: 'Kdam Thmor Pro';
    font-size: 25px;
}
.h1-title{
    background-color: aqua;
    
}
.section-contacts{
    font-size: 18px;
}
.section-abaut-me{
    margin-left: 10%;
    font-size: 18px;
}
.section-skills{
    margin-left: 20%;
    font-size: 18px;
}
.section-code{
    margin-left: 30%;
    font-size: 18px;
}
.section-education{
    margin-left: 40%;
    font-size: 18px;
}
.english{
    margin-left: 50%;
    font-size: 18px;
}
.section-title {
    font-family: 'Kdam Thmor Pro';
    background-color: aqua;
    text-align: center;
    margin-top: 15px;
    min-height: 20px;
    border-radius: 100%;
    max-width: 250px;
    
}
.my-profile-content
.section {
    font-family: Arial, Helvetica, sans-serif;
    
}
.skills-p::before{
    content: '';
    height: 10px;
    width: 10px;
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px 0px 15px;
}

.section-contacts:before{
    content: '';
    height: 10px;
    width: 10px;
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px 0px 15px; 
}
.item-link-bip{
    color: rgb(232, 15, 240);
    text-shadow: 2px 2px 2px white;
    text-decoration: underline;

}
.item-link-colleg{
    color: rgb(232, 15, 240);
    text-shadow: 2px 2px 2px white;
    text-decoration: underline;
    
}

.footer {
    max-height: 100px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-git {
    max-width: 100px;
    margin: 10px;
}

.year {
    font-size: 20px;
}

.logo-rsschol {
    max-width: 100px;
    margin: 5px;
};